
  <a href="#" {{action 'open' this}} class="navbar-link">
  <span {{bindAttr class=":fa data.icon"}}> {{data.name}}</span>
  {{#if count}}<span class="item-count">{{count}}</span>{{/if}}
  </a>
  <div {{bindAttr class=":panel-control data.isClosed:hide"}}>
    <h3>{{data.name}}</h3>
    <div class="content">
    {{yield}}
    </div>
  </div>
