
  <a href="#" {{action 'open' this}} class="navbar-link">
  <span {{bindAttr class=":fa icon"}}> {{name}}</span>
  {{#if count}}<span class="item-count">{{count}}</span>{{/if}}
  </a>
  <div {{bindAttr class=":panel-control isClosed:hide"}}>
    <h3>{{name}}</h3>
    <div class="content">
    {{yield}}
    </div>
  </div>
