{{#if hasMessages}}
  <ul>
  {{#each}}
    {{#if isUnarchived}}
      <li {{bindAttr class="isUnread:unread"}}>
        <h4>from {{from}}</h4>
        <p>{{text}}</p>
        <h5>{{dayText}} ago</h5>
        {{notification-control isUnread=isUnread isUnarchived=isUnarchived}}
      </li>
    {{/if}}
  {{/each}}
  </ul>
{{else}}
    <h4>Sorry, no messages...</h4>
{{/if}}
